# on top of a python 3.10 conda env

# xformers installs its own version of pytorch, so I suggest installing xformers first
xformers

# other pip installations
accelerate
transformers
diffusers
datasets
wandb
bitsandbytes